<div class="col-md-6">
  <h2 class="text-center">Add Accounting</h2>
  <form>
    <div class="form-group">
      <label for="docTitle">docTitle:</label>
      <input type="name" [(ngModel)]="user.docTitle" placeholder="docTitle" name="docTitle" class="form-control" id="docTitle">
    </div>

    <div class="form-group">
      <label for="docType">docType:</label>
      <input [(ngModel)]="user.docType" placeholder="docType" name="docType" class="form-control" id="docType">
    </div>

    <div class="form-group">
      <label for="accountingId">Accounting id</label>
      <input [(ngModel)]="user.id" placeholder="Accounting Id" name="Accounting Id" class="form-control" id="accountingid">
    </div>
    <input [(ngModel)]="user.file" #fileInput type="file" name="file" ng2FileSelect />


    <div class="drop-box" ng2FileDrop
         [ngClass]="{'dragover': isDropOver}">
<!--         [uploader]="uploader"-->
<!--         (fileOver)="fileOverAnother($event)"-->
<!--         (click)="fileClicked()">-->
      <span class="drag-in-title">Import or drag file here</span>
      <span class="drag-over-title">Drop the file</span>
    </div>

    <button class="btn btn-success" (click)="createAccounting()">Create</button>
  </form>
</div>
