<table border="1">
  <thead></thead>
  <tr>
    <th>id</th>
    <th>docType</th>
    <th>docTitle</th>
    <th>docFile</th>
  </tr>
  <tbody>
  <tr *ngFor="let accounting of accountings">
    <td>{{accounting.id}}</td>
    <td>{{accounting.docType}}</td>
    <td>{{accounting.docTitle}}</td>
    <td>{{accounting.file}}</td>
    <td><button class="btn btn-danger" (click)="deleteAccounting(accounting)"> Delete accounting</button> </td>
  </tr>
  </tbody>


</table>

