<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">

    <ul class="navbar-nav">
      <li><a  routerLink="/" class="nav-link">View Accounting</a></li>
      <li><a  routerLink="/addaccounting" class="nav-link">Add New Accounting</a></li>

    </ul>

  </nav>

</header>
